.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    color: #343434;
    /* background-color: var(--primary-color); */
  }
  
  .footer > .container{
    padding: 2.5rem 2rem;
    display: flex;
    justify-content: center;
  }
  
  
  /*
    FOOTER CONTENTS
  */
  .footer p{
    color: var(--black-color);
    font-size: var(--small);
    text-align: center;
  }